.root {
  align-self: stretch;
  flex-direction: column;
  gap: 6px;
}
.inputWithLabel {
  align-self: stretch;
  flex-direction: column;
}
.input {
  align-self: stretch;
  padding: 12px 14px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  filter: drop-shadow(0px 1px 2px #1018280d);
}
.content {
  flex: 1;
  align-self: flex-start;
}
.text {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex: 1;
}
.label {
  color: #667085;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #667085;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
.label3 {
  color: #667085;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.labelWrapper {
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.hintText {
  align-self: stretch;
}
