.root {
  align-self: stretch;
  flex-direction: column;
  padding: 64px 0;
  background-color: #fff;
  overflow: hidden;
}
.container {
  align-self: stretch;
  flex-direction: column;
  padding: 0 16px;
}
.content {
  align-self: stretch;
  flex-direction: column;
}
.quoteAndAttribution {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.quote {
  color: #101828;
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  text-align: center;
  justify-content: center;
}
.avatarAndText {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.textAndSupportingText {
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
}
.text {
  color: #101828;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  text-align: center;
  justify-content: center;
}
.supportingText {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  text-align: center;
  justify-content: center;
}
