.root {
  align-self: stretch;
  padding: 0 0 64px;
  background-color: #fff;
}
.container {
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
}
.text {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  text-align: center;
  justify-content: center;
}
.logosWrap {
  align-self: stretch;
  flex-direction: column;
  gap: 16px;
}
.logos {
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 32px;
}
.companyLogo {
  width: 112.5px;
  height: 40px;
}
.companyLogo2 {
  width: 116.6666px;
  height: 40px;
}
.logos2 {
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 32px;
}
.companyLogo3 {
  width: 100.8332px;
  height: 40px;
}
.companyLogo4 {
  width: 135.8333px;
  height: 40px;
}
.logos3 {
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 32px;
}
.companyLogo5 {
  width: 100px;
  height: 40px;
}
.companyLogo6 {
  width: 78.3332px;
  height: 40px;
}
