.root {
  width: 64px;
  height: 64px;
  flex-direction: column;
  place-content: center;
  border-radius: 200px;
  background-color: #a2a8cd;
  background-image:/* webpackIgnore: true */ url('assets/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
