.root {
  height: 72px;
  align-self: stretch;
  align-items: center;
  position: relative;
  outline: solid 1px #f2f4f7;
  outline-offset: -1px;
  background-color: #fff;
}
.header {
  z-index: 0;
  height: 72px;
  flex-direction: column;
  place-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.container {
  align-self: stretch;
  place-content: space-between;
  padding: 0 12px 0 16px;
}
