.root {
  width: 40px;
  height: 40px;
  place-content: center;
  align-items: center;
  position: relative;
  outline: solid 6px #f9f5ff;
  outline-offset: -3px;
  border-radius: 28px;
  background-color: #f4ebff;
}
.command {
  z-index: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
}
